/* Code by Taksch A. Dube for Capstone Project Spring 2021 */

.catalogue { /* The grey catalogue bar that sits are the end of the screen */
  color: white;
  background-color: grey;
  height: 100vh;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  float: left;
  text-align: center;
}

body { /* :) */
  background-color: black;
}

.catalogueElements { /* ul of catalogue elements */
  list-style: none;
  padding: 0px;
  text-align: center;
}

.catalogueElement { /* The canvas element... lol :) */
  height: 20px;
  padding: 5px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin: 3px;
  border-style: solid;
  border-color: black;
}

.circleAddButton { /* scan button */
  background-color: #275eb8;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 40px;
  cursor:pointer;
}

.appScreen { /* hmmm... I wonder */
  display: flex;
  flex-direction: row;
}

.canvas { /* ¿¿ :o ?? */
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.canvasElement { /* Self-explanatory */
  background-color: grey;
  width: 150px;
  height: 210px;
  padding: 5px;
  cursor: grab;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.canvasElementTitleBar { /* Name of the Servo */
  height: 20px;
  padding: 2px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border-style: solid;
  border-color: black;
  text-align: center;
  background-color: #275eb8;
}

.canvasElementAngleTracker { /* Black angle outline */
  height: 145px;
  width: 145px;
  padding: 2px;
  overflow: hidden;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: center;
  background-image: url(./angleCircle.png);
}
.canvasPointer { /* Red pointer image */
  background-image: url(./anglePointer.png);
  height:145px;
  width: 145px;
  margin-left: -2px;
  overflow: hidden;
}

.onOffAngleButton {
  margin-top:40%;
  border-radius: 100px;
  height:35px;
  width: 35px;
  margin-left: 5px;
  border-color: black;
  text-align: center;
  cursor:pointer;
}

.canvasElementCursoryElementTracker { /*Temp, Current etc. Bar*/
  height: 20px;
  padding: 2px;
  font-size: xx-small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border-style: solid;
  border-color: black;
  text-align: center;
  background-color: #275eb8;
}

.goalPositionInputForm {
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 30px;
}

.goalPositionInputValue {
  width: 30px;
  height: 10px;
  background-color: #275eb8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  border-style: solid;
  border-color: black;
}
