.catalogue {
  color: white;
  background-color: grey;
  height: 100vh;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  float: left
}

body {
  background-color: black;
}

.catalogueElements {
  list-style: none;
  padding: 0px;
  text-align: center;
}

.catalogueElement {
  height: 20px;
  padding: 5px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin: 3px;
  border-style: solid;
  border-color: black;
}